@{
    ViewBag.Title = "About";
}

<link href="@Url.Content("~/Content/CustomBorder.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextType.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextFill.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextShade.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/AboutDiv.css")" rel="stylesheet" type="text/css" />

<body style="background-color: #0f1011; ">

    <div align="center" class="main-content-scoll">
        <br />
        <h3 style="color:#0f9c8f"><b>What is IDEA-X?</b></h3>
        <hr />

        <table width="100%" border="0" align="center" cellpadding="25px" style="background-color: #0f1011; ">

            <tr>
                <td>
                    <p style="color: #808080; font-family: 'Times New Roman'; font-size: 17px; font-weight: lighter; text-align: justify;">
                        Idea-X is a kind of social media
                        to share individuals idea with the entire world.
                        Through this platform anyone connected with the system from different
                        background and departments can share their ideas,
                        connect and communicate with others and
                        grow their knowledge further in this field.
                        <span style="color: #0cd7d1; font-size: 20px"><b>Idea-X</b></span> will be a
                        milestone in the field of education and research as well.
                    </p>
                </td>

                <td width="200">
                    <img src=@Url.Content("~/image/ideax.SVG")
                         height="400px"
                         width="400px"
                         style="padding-top: 70px; margin-left:80px" />
                </td>
            </tr>

        </table>

        <h3 style="color:#0f9c8f"><b>Features of the IDEA-X</b></h3>
        <hr />

        <table width="100%" border="0" align="center" cellpadding="25px" style="background-color: #0f1011; ">
            <tr>

                <td>

                    <div class="flip-card" style="margin-left:65px;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(100, 204, 172); color: rgb(100, 204, 172); ">
                                <p style="font-size:20px;"><b>Sign Up</b></p>
                            </div>

                            <div class="flip-card-back">
                                <p><span style="color:mediumaquamarine; font-size:18px;"><b>New to IDEA-X?</b></span></p>
                                <p>Then you have to sign up with genuine informations to get the access of the system.</p>
                            </div>
                        </div>
                    </div>

                </td>


                <td>

                    <div class="flip-card">
                        <div class="flip-card-inner" style="margin-left:-15px">
                            <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(220, 18, 153); color: rgb(220, 18, 153); ">
                                <p style="font-size:20px;"><b>Verification</b></p>
                            </div>

                            <div class="flip-card-back">
                                <p><span style="color: #dc1298; font-size: 18px; "><b>Scared of insecurity?</b></span></p>
                                <p>IDEA-X is a system which is created with two-step verification system using email address to ensure user authenticity.</p>
                            </div>
                        </div>
                    </div>

                </td>

                <td>

                    <div class="flip-card">
                        <div class="flip-card-inner" style="margin-left:-10px">
                            <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(147, 18, 220); color: rgb(147, 18, 220); ">
                                <p style="font-size:20px;"><b>Contact us</b></p>
                            </div>

                            <div class="flip-card-back">
                                <p><span style="color: #9312dc; font-size: 18px;"><b>Facing any problem?</b></span></p>
                                <p>You are welcome to contact with the admin directly mentioning the issues through our contact us panel.</p>
                            </div>
                        </div>
                    </div>

                </td>

                <td>

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(7, 171, 56); color: rgb(7, 171, 56); ">
                                <p style="font-size:20px;"><b>Login</b></p>
                            </div>

                            <div class="flip-card-back">
                                <p><span style="color: #05af38; font-size: 18px;"><b>Already a member?</b></span></p>
                                <p>You are just one step back to explore new innovations. Just log into the sytem and make a fresh start.</p>
                            </div>
                        </div>
                    </div>

                </td>


            </tr>

            @*2nd feature panel*@


        <tr>


            <td>

                <div class="flip-card" style="margin-left:65px;">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(244,57,57); color: rgb(244,57,57); ">
                            <p style="font-size:20px;"><b>Personal Profile</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color: #f43939; font-size: 18px; text-align: justify;"><b>Where is your personal details?</b></span></p>
                            <p>IDEA-X is providing each and every person connected with the system a dedicated personal profile to share, modify, delete any post and to check own activities.</p>
                        </div>
                    </div>
                </div>

            </td>


            


            <td>

                <div class="flip-card" style="margin-left:-15px">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(147, 18, 220); color: rgb(147, 18, 220); ">
                            <p style="font-size:20px;"><b>Upvote & Downvote</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color: #9312dc; font-size: 18px;"><b>Loved any post?</b></span></p>
                            <p>You can share your expressions for a post by giving upvote and downvote.</p>
                        </div>
                    </div>
                </div>

            </td>

            <td>

                <div class="flip-card">
                    <div class="flip-card-inner" style="margin-left:-10px">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(220, 18, 153, 1); color: rgb(220, 18, 153, 1); ">
                            <p style="font-size:20px;"><b>Report</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color: #dc1298; font-size: 18px; "><b>Inappropriate Post?</b></span></p>
                            <p>If you find any post inappropriate, just hit the report button. Admin will investigate the problem and will provide you a feasible solution.</p>
                        </div>
                    </div>
                </div>

            </td>

            <td>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(100, 204, 172); color: rgb(100, 204, 172); ">
                            <p style="font-size:20px;"><b>Post what is in your mind</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color:mediumaquamarine; font-size:18px;"><b>Found something new?</b></span></p>
                            <p>Share it with all by posting it on the general timeline from your personal profile.</p>
                        </div>
                    </div>
                </div>

            </td>

        </tr>


            @*3rd feature panel*@


        <tr>

            <td>

                <div class="flip-card" style="margin-left:65px;">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(244,57,57); color: rgb(244,57,57); ">
                            <p style="font-size:20px;"><b>Activity Check</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color: #f43939; font-size: 18px; text-align: justify;"><b>What was your activity in IDEA-X?</b></span></p>
                            <p>Just go to your activity list and you can see what was your post activity of recent times through charts.</p>
                        </div>
                    </div>
                </div>

            </td>




            <td>

                <div class="flip-card">
                    <div class="flip-card-inner" style="margin-left:-10px">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(220, 18, 153, 1); color: rgb(220, 18, 153, 1); ">
                            <p style="font-size:20px;"><b>Messaging with mate</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color: #dc1298; font-size: 18px; "><b>Want to message any person?</b></span></p>
                            <p>Send a message request and wait for acceptance. Once your mate accept the request you are welcomed to message each other.</p>
                        </div>
                    </div>
                </div>

            </td>

            <td>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(100, 204, 172); color: rgb(100, 204, 172); ">
                            <p style="font-size:20px;"><b>IDEA Tracker</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color:mediumaquamarine; font-size:18px;"><b>Need to keep any notes?</b></span></p>
                            <p>We are happy to say that, we have a to do list option, designed with premium quality, named as IDEA Tracker to keep your date wise notes.</p>
                        </div>
                    </div>
                </div>

            </td>


            <td>

                <div class="flip-card" @*style="margin-left:-15px;"*@>
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-color: rgba(0, 0, 0, 0.2); border: solid 3px rgb(244,57,57); color: rgb(244,57,57); ">
                            <p style="font-size:20px;"><b>Security</b></p>
                        </div>

                        <div class="flip-card-back">
                            <p><span style="color: #f43939; font-size: 18px; text-align: justify;"><b>Worried about confidential messages?</b></span></p>
                            <p>idea-x is always very much concern with its user security. to ensure the security, all of the passwords and messages are handled properly.</p>
                        </div>
                    </div>
                </div>

            </td>

        </tr>
















        </table>

            @*<tr>
            <td style="font-family: 'Times New Roman'; font-size: 17px; font-weight: lighter; text-align: justify;">
                <span style="float: right; color: #0cd7d1"><b>OTP Authentication:</b></span><br />
                <p style="float: right;">Idea-X is always concern with the security issue. To strengthen the security of the system, we have a .</p>
            </td>

        </tr>
        <tr>
            <td style="font-family: 'Times New Roman'; font-size: 17px; font-weight: lighter; text-align: justify;">
                <span style="float: left; color: #0cd7d1 "><b>User Sign Up</b></span><br />
                <p style="float: left;">All user need to be signed up in the system to get the access in the system.</p>
            </td>

        </tr>*@











    </div>

    @*<table width="100%" border="0" style="background-color: #0f1011; ">
            <tr>

            </tr>
        </table>*@



</body>














    
