
@{
    ViewBag.Title = "ForgotPassword";
}

<link href="@Url.Content("~/Content/Text_Box.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ButtonFillGlow.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MidWordLine.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Text_Decor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextBoxLog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/VerificationCode.css")" rel="stylesheet" type="text/css" />


<body style="background-color: #0f1011; ">
    <h2 align="center"></h2>
    <table border="0" style="height: 75vh; width: 100%; background-color: #0f1011;">
        <tr>

            <td width="50%" align="center">
                <img src=@Url.Content("~/image/forgot/forgot-back.SVG") width="80%">

            </td>

            <td width="50%">
                <div align="center" style="margin-left: 40px; background-color: #303030; height: 570px; width: 450px; border-radius: 10px; padding-top: 20px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px; border: 1px solid #808080 ">



                    <h4 style="width:300px; color: #b0acac; border-bottom:1px solid white; padding-bottom:15px;">Forgot - Don't Worry!</h4>
                    <br />

                    <form action="" method="post" id="form">
                        <h6 style="font-weight: lighter; color: #c9c9c9; margin-left:-230px;">Email:  </h6>

                        <input type="text" name="EMAIL" value="@(Model != null? Model.EMAIL:"")" class="form-control email_box" id="text-box-normal" />
                        <font style="color:#fe9783; line-height:3;">
                            @Html.ValidationMessage("EMAIL", new { @class = "msg-require email-box-validation" })
                        </font>
                        <br> <br>
                            
                                 <a onclick="sendcode()" id="button-glow" class="emailsuccess" style=" filter: hue-rotate(180deg); cursor:pointer; pointer-events:none;">Send Code</a>
                             
                        <br>
                        <font style="margin-top: 0px; margin-bottom: 10px; line-height: 4; ">
                            Didn't get it?

                            <a onclick="sendcode()" onMouseOver="this.style.color='#1bbdd6'"
                               onMouseOut="this.style.color='#fe9783'"
                               style=" color: #fe9783; text-decoration: none;  ">Resend</a>
                            <br />
                        </font>

                        <div style="padding-top:5px;"> </div>
                        <!--<input type="submit" class="btn btn-success" id="button-glow" />-->
                    </form>
                    <div class="userInput">
                        <input type="text" class="code-verify" id='ist' maxlength="1" style="text-transform:uppercase" onkeyup="clickEvent(this,'sec')">
                        <input type="text" class="code-verify" id="sec" maxlength="1" style="text-transform:uppercase" onkeyup="clickEvent(this,'third')">
                        <input type="text" class="code-verify" id="third" maxlength="1" style="text-transform:uppercase" onkeyup="clickEvent(this,'fourth')">
                        <input type="text" class="code-verify" id="fourth" maxlength="1" style="text-transform:uppercase" onkeyup="clickEvent(this,'fifth')">
                        <input type="text" class="code-verify" id="fifth" maxlength="1" style="text-transform:uppercase" onkeyup="redirecPage()">
                    </div>
                    <span style="color: #fe9783; margin-left:0; text-align:center;" class="msg-require verify-valid"> 
                    </span>
                    <div style="background-color: #0f1011; width: 350px; height: 75px; margin-top: 30px; border-left: 5px solid #fe9783; padding:10px; ">
                        <span style="color: #808080; font-family: 'Times New Roman'; font-size: 17px; font-weight: lighter; text-align: justify; justify-content: center; text-align: center;">
                            One 5 digit OTP was send to your mail please check your inbox
                            and enter the OTP to verify.
                        </span>

                    </div>


                </div>

            </td>


        </tr>



    </table>

    <script>

        function clickEvent(first, last) {
            if (first.value.length) {
                document.getElementById(last).focus();
            }
        }

        function redirecPage() {
            window.location.href = "/Home/ForgotChangePassword";
        }


    </script>


</body>

<script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
<script src="@Url.Content("~/Scripts/Forget_PasswordValidation.js")"></script>
