
@{
    ViewBag.Title = "ForgotChangePassword";
}


<link href="@Url.Content("~/Content/Text_Box.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ButtonFillGlow.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MidWordLine.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Text_Decor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextBoxLog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/VerificationCode.css")" rel="stylesheet" type="text/css" />


<body style="background-color: #0f1011; ">
    <h2 align="center"></h2>
    <table border="0" style="height: 75vh; width: 100%; background-color: #0f1011;">
        <tr>

            <td width="50%" align="center">
                <img src=@Url.Content("~/image/forgot/forgot-back.SVG") width="80%">

            </td>

            <td width="50%">
                <div align="center" style="margin-left: 40px; background-color: #303030; height: 500px; width: 450px; border-radius: 10px; padding-top: 20px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px; border: 1px solid #808080 ">



                    <h4 style="width:300px; color: #b0acac; border-bottom:1px solid white; padding-bottom:15px;">You Are Almost There</h4>
                    <br />

                    <form action="" method="post" id="form">


                        <div style="display:none;">
                            <h6 style="font-weight: lighter; padding-top: 10px; color: #c9c9c9; margin-left: -160px;">
                                New Password
                            </h6>
                           
                            <input type="email" name="EMAIL" value="@(Model != null? Model.EMAIL:"")" class="form-control" id="text-box-normal" readonly />
                            <font style="color:#fe9783; line-height:3;">
                                @Html.ValidationMessage("EMAIL", new { @class = "msg-require" })
                            </font>

                        </div>



                        <h6 style="font-weight: lighter; padding-top: 10px; color: #c9c9c9; margin-left: -160px;">
                            New Password
                        </h6>

                        <input type="password" name="PASSWORD" value="" class="form-control" id="text-box-normal" />
                        <font style="color:#fe9783; line-height:3;">
                            @Html.ValidationMessage("PASSWORD", new { @class = "msg-require" })
                        </font>

                        <h6 style="font-weight: lighter; padding-top: 5px; color: #c9c9c9; margin-left: -140px;">
                            Confirm Password
                        </h6>

                        <input type="password" name="CONFIRM_PASSWORD" value="" class="form-control" id="text-box-normal" />
                        <font style="color:#fe9783; line-height:3;">
                            @Html.ValidationMessage("CONFIRM_PASSWORD", new { @class = "msg-require" })
                        </font>
                        <br> <br>
                        <a href="javascript:$('form').submit();" id="button-glow" style=" filter: hue-rotate(180deg);">Change Password</a>
                        
                       

                        <div style="padding-top:5px;"> </div>
                        <!--<input type="submit" class="btn btn-success" id="button-glow" />-->
                    </form>
                   


                </div>

            </td>


        </tr>



    </table>
</body>


