
@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<link href="@Url.Content("~/Content/Text_Box.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ButtonFillGlow.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MidWordLine.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Text_Decor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextBoxLog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/VerificationCode.css")" rel="stylesheet" type="text/css" />



<link href="@Url.Content("~/Content/CircleProgress.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Chart.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Activity.css")" rel="stylesheet" type="text/css" />



<div class="row">
    <div class="col-sm-9 main-content-scoll" style="background-color: #0c0d0f;" align="center">


        <div align="center">
            <h4 style="text-align:center; color:#808080; border-bottom:1px solid #808080; padding-bottom:10px; width:300px;"><b style="color:#0abab5">Upvote</b> & <b style="color: #f08080 ">Downvote</b> (%)</h4>
            <br />
            <div align="center" style="width:100%; display:flex; ">

                <!---->
                <div class="wrapper wrapperL" align="center" style="width: 100%; display: flex; align-items: center; justify-content: center; ">

                    <div class="card cardL upL">
                        <div class="circle circleL">
                            <div class="bar barL"></div>
                            <div class="box boxL"><span></span></div>
                        </div>
                        <div class="text textL">UpVote</div>
                    </div>
                    <span style="padding:1%"></span>

                    <div class="card cardD downD">
                        <div class="circle circleD">
                            <div class="bar barD"></div>
                            <div class="box boxD"><span></span></div>
                        </div>
                        <div class="text textD">DownVote</div>
                    </div>
                </div>

                <!---->

            </div>
        </div>


        <br /><br /><br />

        <div align="center">
            <h4 style="text-align:center; color:#808080; border-bottom:1px solid #808080; padding-bottom:10px; width:450px;"><b style="color:#0abab5">Upvote</b> & <b style="color: #f08080 ">Downvote</b> (Recent 100 post)</h4>
            <br />
            <canvas id="myChart" style="width: 100%;" class="graph1"></canvas>
            <br /><br /><br />
        </div>

        <div align="center">
            <h4 style="text-align:center; color:#808080; border-bottom:1px solid #808080; padding-bottom:10px; width:350px;"><b style="color:#0abab5">Upvote</b> & <b style="color: #f08080 ">Downvote</b> (Overall)</h4>
            <br />
            <canvas id="myPie" class="pie1"></canvas>
            <br /><br /><br />
        </div>




        <a href="javascript:void(0);" onclick="myFunctionReInfo();" id="callRep" style="margin-left:20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); border-radius: 10px; font-size: 18px; color: #ee7e7e;">Activity by User</a>

        <div id="popupCR" align="center" style="position:fixed; left: 32%; top: 10%; width: 30%; height: 80%; display: none; box-shadow: 0 0 20px #21ebff; transition-delay: 0.5s; border-radius:20px;">
            @Html.Partial("~/Views/Admin/userMatchForActivity.cshtml")
            <a href="javascript:void(0);" onclick="myFunctionRep();" id="call" style="box-shadow: 0 0 0px #000000; transition-delay: 0.5s; border-radius: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background-color: #4b4949; border-radius: 10px; font-size: 18px; color: #ee7e7e; border:2px solid #21ebff;">
                <i class="fa-solid fa-arrow-up">
                </i>
            </a>

        </div>


    </div>



    <div class="col-sm-2 col-sm-offset-0 search-content">
        <ul class="nav nav-pills nav-stacked search-bar">
            <li>
                <a href="@Url.Action("Monitoring","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa fa-line-chart">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Track Activities
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("UserLogIn","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-user">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            User Logins
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("UserList","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-user-circle">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Connected users
                        </span>
                    </span>
                </a>
            </li>
            <li>

            <li>
                <a href="@Url.Action("AllUserDetails","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-users">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            All User Details
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("PostArchives","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-sort">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Post Archives
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("PostActions","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-bolt-lightning">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Post Actions
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("MessageRequests","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-comments">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Message Requests
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ChatSessions","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-comment-dots">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Chat Sessions
                        </span>
                    </span>
                </a>
            </li>

        </ul>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
<script src="@Url.Content("~/Scripts/Chart.js")"></script>

<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/circle-progress.min.js")"></script>
<script src="@Url.Content("~/Scripts/Admin_ActivityChart.js")"></script>
<script>
    var yValuesPupvote = @Model.LIKE;
    var yValuesPdownvote = @Model.DISLIKE;

    var calcTotal = Number(yValuesPupvote) + Number(yValuesPdownvote);

    var percUpvote = 0;
    var percDownvote = 0;

    if (Number(calcTotal) != 0) {
        percUpvote = (Number(yValuesPupvote) / Number(calcTotal));
        percDownvote = (Number(yValuesPdownvote) / Number(calcTotal));
    }




    let optionL = {
        startAngle: -1.55,
        size: 150,
        value: 1.00,
        fill: {
            gradient: ['#f08080', '#0bdad3']
        }
    }
    let optionD = {
        startAngle: -1.55,
        size: 150,
        value: 1.00,
        fill: {
            gradient: ['#66ffff', '#ff6666']
        }
    }

    $(".circleL .barL").circleProgress(optionL).on('circle-animation-progress',
        function (event, progress, stepValue) {
            $(this).parent().find("span").text(String((stepValue.toFixed(2).substr(0) * 100).toFixed(0).substr(0)) + "%");
        });

    $(".circleD .barD").circleProgress(optionD).on('circle-animation-progress',
        function (event, progress, stepValue) {
            $(this).parent().find("span").text(String((stepValue.toFixed(2).substr(0) * 100).toFixed(0).substr(0)) + "%");
        });


    $(".upL .barL").circleProgress({
        value: percUpvote
    });
    $(".downD .barD").circleProgress({
        value: percDownvote
    });



    function myFunctionReInfo() {
        // document.getElementById("call").style.color = "#000000";
        var element = document.getElementById("popupCR");
        element.style.display = "block";

    }
    function myFunctionRep() {
        // document.getElementById("call").style.color = "#000000";
        var element = document.getElementById("popupCR");
        element.style.display = "none";
    }


</script>



