@{
    ViewBag.Title = "UserLogIn";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<link href="@Url.Content("~/Content/Text_Box.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ButtonFillGlow.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MidWordLine.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Text_Decor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextBoxLog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Scroll_Up.css")" rel="stylesheet" type="text/css" />

<div class="row">

    <div class="col-sm-9 main-content-scoll main_content_result">

        <div align="center">
            <br />
            <h4>All User Login Informations</h4>
            <hr style="height: 2px; background-color: #009879; border: none;" />

            <h6 style="font-weight: lighter; color: #c9c9c9;">Type Anything</h6>
            <input type="text" name="SEARCH_USER" value="" class="form-control search_box" id="text-box-normal" style="text-align:center;" />

            <br />
            <br />

            <a href="/Admin/DownloadUserLogIn_Admin" id="exportUserLoginDetails" style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); border-radius: 10px; font-size: 18px; color: #ee7e7e;">Export Informations</a>


        </div>



        <div class="" align="center">

            <table class="user_table">
                <thead>
                    <tr>
                        <th>Login ID</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Login Time</th>
                        <th>Login IP</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @{var count = 0; }

                    @foreach (var ulog in Model)
                    {
                        <tr onclick="window.location.replace('/Admin/UserProfile/@ulog.USERNAME?page=UserLogIn')" style="cursor: pointer; ">
                            @{count = count + 1;}
                            <td>@ulog.LOGIN_ID</td>
                            <td>@ulog.USERNAME</td>
                            <td>@ulog.EMAIL</td>
                            <td>@ulog.LOGIN_TIME</td>
                            <td>@ulog.LOGIN_IP</td>
                        </tr>
                    }
                    @*<tr>
                        <td>101</td>
                        <td>Ikicchi1</td>
                        <td>ikicchi1@gmail.com</td>
                        <td>1.00</td>
                        <td>101.101.101.101</td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>Ikicchi2</td>
                        <td>ikicchi2@gmail.com</td>
                        <td>2.00</td>
                        <td>102.102.102.102</td>
                    </tr>
                    <tr>
                        <td>103</td>
                        <td>Ikicchi3</td>
                        <td>ikicchi3@gmail.com</td>
                        <td>3.00</td>
                        <td>103.103.103.103</td>
                    </tr>
                    <tr>
                        <td>104</td>
                        <td>Ikicchi4</td>
                        <td>ikicchi4@gmail.com</td>
                        <td>4.00</td>
                        <td>104.104.104.104</td>
                    </tr>*@
                </tbody>
            </table>

        </div>

        <br />
        <br />
        <div align="center" class="scroll-up-btn">
            <a id="back_to_top" style="box-shadow: 0 0 20px #000000; transition-delay: 0.5s; border-radius: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background-color: rgb(75, 73, 73,0.8); border-radius: 10px; font-size: 18px; color: #ee7e7e; border: 2px solid #009879; filter: blur(0.5); ">
                <i class="fa-solid fa-arrow-up">
                </i>
            </a>
        </div>

        <div align="center" class="show-result-btn">

            <span align="center" id="show-result" style="box-shadow: 0 0 20px #000000; transition-delay: 0.5s; border-radius: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background-color: rgb(75, 73, 73,0.8); border-radius: 10px; font-size: 18px; color: #ee7e7e; border: 2px solid #009879; filter: blur(0.5); ">

                Total @count results found

            </span>

        </div>

    </div>

    <div class="col-sm-2 col-sm-offset-0 search-content">
        <ul class="nav nav-pills nav-stacked search-bar">
            <li>
                <a href="@Url.Action("Monitoring","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa fa-line-chart">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Track Activities
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("UserLogIn","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-user">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            User Logins
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("UserList","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-user-circle">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Connected users
                        </span>
                    </span>
                </a>
            </li>
            <li>

            <li>
                <a href="@Url.Action("AllUserDetails","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-users">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            All User Details
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("PostArchives","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-sort">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Post Archives
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("PostActions","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-bolt-lightning">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Post Actions
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("MessageRequests","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-comments">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Message Requests
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ChatSessions","Admin")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-comment-dots">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Chat Sessions
                        </span>
                    </span>
                </a>
            </li>

        </ul>
    </div>
</div>


<script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
<script src="@Url.Content("~/Scripts/Admin_SearchUserLogin.js")"></script>
<script src="@Url.Content("~/Scripts/Scroll_Up.js")"></script>