
@{
    ViewBag.Title = "PendingReport";
    Layout = "~/Views/Shared/_UACDashboard.cshtml";
}


<link href="@Url.Content("~/Content/Text_Box.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ButtonFillGlow.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MidWordLine.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Text_Decor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextBoxLog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Scroll_Up.css")" rel="stylesheet" type="text/css" />


<div class="row">

    <div class="col-sm-9 main-content-scoll main_content_result">

        <div align="center">
            <br />
            <h4>Pending Post Reports</h4>
            <hr style="height: 2px; background-color: #009879; border: none;" />

            <h6 style="font-weight: lighter; color: #c9c9c9;">Type Anything</h6>
            <input type="text" name="SEARCH_USER" value="" class="form-control search_box" id="text-box-normal" style="text-align:center;" />

            <br />
            <br />

            <a href="/UAC/DownloadPendingReportsUAC" style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); border-radius: 10px; font-size: 18px; color: #ee7e7e;">Export Informations</a>


        </div>



        <div class="" align="center">

            <table class="user_table">
                <thead>
                    <tr>
                        <th>Report ID</th>
                        <th>Post ID</th>
                        <th>Post Author</th>
                        <th>Reported By</th>
                        <th>Report Category</th>
                        <th>Report Details</th>
                        <th>Report Time</th>
                        <th>Report IP</th>
                        <th>Report Status</th>
                        <th>Your Action</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @{var count = 0; }
                    @foreach (var reports in Model)
                    {
                        <tr>
                            @{count = count + 1;}
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.REPORT_ID</td>
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.POST_ID</td>
                            <td onclick="window.location.replace('/UAC/UserProfile/@reports.POST_AUTHOR?page=PendingReport')" style="cursor: pointer; ">@reports.POST_AUTHOR</td>
                            <td onclick="window.location.replace('/UAC/UserProfile/@reports.REPORTED_BY?page=PendingReport')" style="cursor: pointer; ">@reports.REPORTED_BY</td>
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.REPORT_CATEGORY</td>
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.REPORT_DETAILS</td>
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.REPORT_TIME</td>
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.REPORT_IP</td>
                            <td onclick="window.location.replace('/UAC/SearchPostViewUAC/@reports.POST_ID?page=PendingReport')" style="cursor: pointer; ">@reports.REPORT_STATUS</td>
                            <td align="center">
                                <button onclick="ReportInvestigate(@reports.REPORT_ID)" id="call" style="margin-right: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); border-radius: 10px; font-size: 18px; color: #ee7e7e; cursor:pointer;">Start Investigation</button>
                            </td>
                        </tr>
                    }
                    @*<tr>
                            <td>101</td>
                            <td>Ikicchi1</td>
                            <td>ikicchi1@gmail.com</td>
                            <td>1.00</td>
                            <td>101.101.101.101</td>
                        </tr>
                        <tr>
                            <td>102</td>
                            <td>Ikicchi2</td>
                            <td>ikicchi2@gmail.com</td>
                            <td>2.00</td>
                            <td>102.102.102.102</td>
                        </tr>
                        <tr>
                            <td>103</td>
                            <td>Ikicchi3</td>
                            <td>ikicchi3@gmail.com</td>
                            <td>3.00</td>
                            <td>103.103.103.103</td>
                        </tr>
                        <tr>
                            <td>104</td>
                            <td>Ikicchi4</td>
                            <td>ikicchi4@gmail.com</td>
                            <td>4.00</td>
                            <td>104.104.104.104</td>
                        </tr>*@
                </tbody>
            </table>

        </div>

        <br />
        <br />
        <div align="center" class="scroll-up-btn">
            <a id="back_to_top" style="box-shadow: 0 0 20px #000000; transition-delay: 0.5s; border-radius: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background-color: rgb(75, 73, 73,0.8); border-radius: 10px; font-size: 18px; color: #ee7e7e; border: 2px solid #009879; filter: blur(0.5); ">
                <i class="fa-solid fa-arrow-up">
                </i>
            </a>
        </div>
        <div align="center" class="show-result-btn">

            <span align="center" id="show-result" style="box-shadow: 0 0 20px #000000; transition-delay: 0.5s; border-radius: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; text-decoration: none; background-color: rgb(75, 73, 73,0.8); border-radius: 10px; font-size: 18px; color: #ee7e7e; border: 2px solid #009879; filter: blur(0.5); ">

                Total @count results found

            </span>

        </div>
    </div>

    <div class="col-sm-2 col-sm-offset-0 search-content">
        <ul class="nav nav-pills nav-stacked search-bar">
            <li>
                <a href="@Url.Action("PendingReport","UAC")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa fa-history">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Pending Reports
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("InvestigatingReport","UAC")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-search-plus">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Investigating Reports
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("ClosedReport","UAC")" style="padding: 2rem 1rem">
                    <span class="row-no-gutters">
                        <span class="col-sm-2">
                            <i class="fa-solid fa-close">
                            </i>
                        </span>
                        <span class="col-sm-offset-0">
                            Closed Reports
                        </span>
                    </span>
                </a>
            </li>




        </ul>
    </div>
</div>


<script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
<script src="@Url.Content("~/Scripts/Scroll_Up.js")"></script>
<script src="@Url.Content("~/Scripts/UACScripts/UAC_SearchPendingReport.js")"></script>





